# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
build/

# Environment variables
.env

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

/src/generated/prisma
